:root {
    
    --color-bg: #121212;
    --color-surface: #1a1a1a;
    --color-surface-light: #1e1e1e;
    --color-surface-hover: #242424;
    --color-black:#000;

    --color-border: #2d2d2d;
    --color-border-light: #383838;

    --color-text: #f2f2f2;
    --color-text-secondary: #a5a5a5;
    --color-text-muted: #686868;

    --color-accent: #ffffff;
    --color-accent-dark: #d9d9d9;

    --color-success: #ffffff;
    --color-none:#00000000;

    --color-green1:#2e7200;
    --color-green2:#79bb4e;


    --fw-fill: 200;
    --fw-normal:500;
    --fw-semibold:600;
    --fw-bold:900;

    --fz-2xs: 0.625rem;  /* 10px */
    --fz-xs:  0.75rem;   /* 12px */
    --fz-s:   0.875rem;  /* 14px */
    --fz-m:   1rem;      /* 16px */
    --fz-l:   1.125rem;  /* 18px */
    --fz-xl:   1.25rem;  /* 20px */
    --fz-2xl:  1.5rem;   /* 24px */
    --fz-3xl:  1.875rem; /* 30px */
    --fz-4xl:  2.25rem;  /* 36px */
    --fz-5xl:  3rem;     /* 48px */
    --fz-6xl:  3.75rem;  /* 60px */
    --fz-7xl:  4.5rem;   /* 72px */

    
    --font-display: "Bebas Neue", sans-serif;
    --font-body: "Poppins", sans-serif;

    --container-width: 1400px;

    --radius-s: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-full: 100%;

    
    --shadow-card:
        0 8px 30px rgba(0, 0, 0, 0.25);

    --shadow-input:
        inset 0 0 0 1px rgba(255, 255, 255, 0.03);
    --transition-fast: 150ms ease;
    --transition-normal: 250ms ease;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-none);
    font-weight: var(--fw-normal);
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}


body {
    min-height: 100vh;

    background-color: var(--color-bg);
    color: var(--color-accent-dark);

    font-family: var(--font-body);
    font-size: 14px;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


button,
input {
    font: inherit;
}


button {
    border: 0;
}


button,
input {
    outline: none;
}


button {
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-bg);
    padding: .3rem .8rem;
    font-weight: var(--fw-semibold);
    border-radius: var(--radius-sm);
    transition: var(--transition-normal);
    border: solid 1px var(--color-accent);
    line-height: 1;
    text-transform: uppercase;
}

button:hover{
    transform: scale(1.05);
    background-color: var(--color-bg);
    color: var(--color-accent);
    font-weight: normal;
}


input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
    
}

input{
    border: none;
    background-color: var(--color-bg);
    padding: .25rem .5rem;
    width: fit-content;
    border-radius: var(--radius-s);

}


ul {
    list-style: none;
}


h1,
h2,
h3,
h4 {
    line-height: 1;
    font-family: var(--font-display);
    letter-spacing: 1px;
}


a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition-normal);
}

.container {
    width: min(
        calc(100% - 32px),
        var(--container-width)
    );

    margin-inline: auto;
}


.main-content {
    width: 100%;
    padding: 32px;
}


section + section {
    margin-top: 15px;
}

button:focus-visible,
input:focus-visible {
    outline: 1px solid var(--color-text-muted);
    outline-offset: 1px;
    color: var(--color-accent);
}

@media (max-width: 900px) {
    .main-content {
        width: 100%;
        padding: 1rem .5px;
    }
}

a:hover{
    color: var(--color-green2);
}

.btn-circle{
    padding: 0;
    border-radius: var(--radius-full);
    height: 15px;
    width: 15px;
    background-color: var(--color-bg);
}

.btn-circle:hover{
    transform: scale(1);
    background-color: var(--color-border-light);
}

.btn-outline{
    background-color: var(--color-bg);
    color: var(--color-accent) ;
    border: solid 1px var(--color-accent);
}

.active{
    background-color: var(--color-green1);
    border-color: var(--color-border-light);
}

.active:hover{
    background-color: var(--color-bg);
    background-color: var(--color-green1);
    border-color: var(--color-border-light);
}