@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,500;0,14..32,600;0,14..32,700&display=swap');

:root {
  /* ==========================================================================
     🎨 BASE DE COR (Monocromático configurável)
     ========================================================================== */
  /* Hue  */
  

  /* ==========================================================================
     🌑 FUNDOS (Backgrounds)
     A progressão vai do mais escuro (base) para os elementos sobrepostos
     ========================================================================== */
  

     /*Fundos para botoes*/



     /*Fundos para inputs*/

  /* ==========================================================================
     📝 TEXTOS E TIPOGRAFIA
     Contraste focado na legibilidade sem usar branco puro (#FFF) que cansa a vista
     ========================================================================== */
 

  

  /* Escala Modular de Fontes (Base 16px) */
  

  /* Pesos da Fonte */
  

  /* ==========================================================================
     📏 BORDAS E DIVISORES
     ========================================================================== */
  

  /* Arredondamento (Raio pequeno para um visual mais "afiado" e moderno) */
  

  /* ==========================================================================
     📐 ESPAÇAMENTO (Base 4px/8px)
     Mantenha o minimalismo usando espaçamentos padronizados
     ========================================================================== */
  

  /* ==========================================================================
     📐 LAYOUT BASE
     ========================================================================== */
  

  /* ==========================================================================
     🌑 SOMBRAS (Shadows)
     ========================================================================== */
  
  /* ==========================================================================
     🌑 SOMBRAS (Shadows-texto)
     Em dark mode, sombras devem ser extremamente escuras ou omitidas em favor de bordas
     ========================================================================== */


  /* ==========================================================================
     ⏱️ ANIMAÇÕES E TRANSIÇÕES
     ========================================================================== */


  /* ==========================================================================
     📚 Z-INDEX (Controle de camadas)
     ========================================================================== */

}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

a {

}

li {
  
}

button {
  
}

input,
select {
  
}